[buildout]
extends =
    test-plone-5.1.x.cfg

[test]
eggs += ftw.monitor

[versions]
# tzlocal dropped python 2 support in version 3.0b1
tzlocal = < 3

# fluent-logger > 0.9.6 is Python3.5+ only and requires msgpack < 0.10.0
fluent-logger = < 0.10.0
msgpack = < 0.10.0
