#plone-document-byline {
    display: none;
}

span.legend-color {
    display: block;
    width: 1em;
    height: 1em;
    margin-right: 2px;
}

#pie-chart {
    float: left;
    max-width: 50%
}

#content-stats-type-counts {
    float: left;
}

.c3-target.c3-defocused {
    opacity: .5 !important
}