#plone-document-byline {
    display: none;
}

span.legend-color {
    display: block;
    width: 1em;
    height: 1em;
    margin-right: 2px;
}

#chart {
    float: left;
    max-width: 50%
}

#content-stats-type-counts {
    float: left;
}